{% extends 'base.html.twig' %}

{% block title %}{{ 'Create new Category'|trans }}{% endblock %}

{% block bread %}
    → <a href="{{ path('app_category') }}">{{ 'Category'|trans }}</a>
    → {{ 'Add Category'|trans }}
{% endblock %}

{% block body %}
{{ include('category/_form.html.twig') }}
{% endblock %}