{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Product'|trans }}{% endblock %}

{% block bread %}
    → <a href="{{ path('app_product') }}">{{ 'Product'|trans }}</a>
    → {{ 'Edit Product'|trans }}
{% endblock %}

{% block body %}
    <div class="w-full">
        <!--Card-->
        <div class="bg-white border rounded shadow">
            <div class="border-b p-3">
                <h5 class="font-bold uppercase text-gray-600">{{ 'Product Edit'|trans }}</h5>
            </div>
            <div class="p-5">
                {{ include('product/_form.html.twig') }}
            </div>
        </div>
        <!--/Card-->
    </div>
{% endblock %}