{% extends 'base.html.twig' %}

{% block title %}{{ 'Receipt'|trans }}{% endblock %}

{% block bread %}
    → {{ 'Receipts'|trans }}
{% endblock %}

{% block body %}
    <div class="bg-white border rounded shadow mb-2">
        <div class="p-3">
            <a href="{{ path('app_receipt_add') }}">
            <i class="fas fa-plus fa-fw mr-3 text-green-600"></i><span class="pb-1 md:pb-0 text-sm">{{ 'Add Receipt'|trans }}</span>
            </a>
        </div>
    </div>
    <div class="w-full">
        <!--Table Card-->
        <div class="bg-white border rounded shadow">
            <div class="border-b p-3">
                <h5 class="font-bold uppercase text-gray-600">{{ 'Receipts'|trans }}</h5>
            </div>
            <div class="p-5">
                {% if receipts|length > 0 %}
                <table class="w-full p-5 text-gray-700">
                    <thead>
                    <tr>
                        <th class="text-left text-blue-900">{{ 'Date'|trans }}</th>
                        <th class="text-left text-blue-900">{{ 'Product'|trans }}</th>
                        <th class="text-left text-blue-900">{{ 'Packaging'|trans }}</th>
                        <th class="text-left text-blue-900">{{ 'Label'|trans }}</th>
                        <th class="text-left text-blue-900"></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for receipt in receipts %}
                    <tr>
                        <td><a href="#">{{ receipt.receiptDate | date('d.m.Y') }}</a></td>
                        <td><a href="#">{{ receipt.product.name }}</a></td>
                        <td><a href="#">{{ receipt.packaging }}</a></td>
                        <td><a href="#">{{ receipt.label }}</a></td>
                        <td><a href="{{ path('app_receipt_delete', { receipt: receipt.id }) }}"><i class="fas fa-sharp fa-solid fa-trash text-red-500"></i></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="text-center">
                        {{ 'No receipts.'|trans }}
                    </div>
                {% endif %}
            </div>
        </div>
        <!--/table Card-->
    </div>
{% endblock %}
